.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main {
    flex: 1; /* Ensures the main content area takes up remaining space */
  text-align: center;
  padding: 20px;
  background-color: #c9cccf; /* Light grayish-blue background color */
  }
  
  .main img {
    width: 100%; /* Make the image cover the full width of its container */
    height: auto; /* Maintain aspect ratio */
    max-height: 400px; /* Optional: Limit the height of the image */
  }
  
  .main h1 {
    font-size: 2em;
    margin-top: 20px;
    color: #333; /* Darker text color for contrast */
  }
  